[Unit]
Description=AcmeCat
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/acmecat -m client -c /etc/acmecat/config_client.json

[Install]
WantedBy=multi-user.target